<div class="account-content">
    <div class="login-wrapper bg-img">
        <div class="login-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="login-userset">
                    <div class="login-logo logo-normal">
                       <img src="assets/img/logo.png" alt="img">
                   </div>
                   <a [routerLink] = "routes.adminDashboard" class="login-logo logo-white">
                       <img src="assets/img/logo-white.png"  alt="">
                   </a>
                   <div class="login-userheading">
                       <h3 i18n="@@loginTitle">Sign In</h3>
                       <h4 i18n="@@loginText">Access the FuturaCom panel using your email and passcode.</h4>
                   </div>
                   <div class="form-login">
                    <label i18n="@@emailLabel">Email Address</label>
                    <div class="form-addons">
                      <input type="text" class="form-control" type="email" formControlName="email"
                        [class.is-invalid]="invalid('email')" [class.is-valid]="valid('email')">
                      <img src="assets/img/icons/mail.svg" alt="img">
                      <div class="text-danger">
                        @if(isRequiredError('email')){
                        <span i18n="@@emailRequired">Email is required</span>
                        }@else if (invalid('email')) {
                        <span i18n="@@invalidEmail">Provided email is invalid</span>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="form-login">
                    <label i18n="@@passwordLabel">Password</label>
                    <div class="pass-group"><input class="pass-input" [type]="show  ? 'text' : 'password'" required
                        formControlName="password" [class.is-invalid]="invalid('password')"
                        [class.is-valid]="valid('password')" />
                      <span class="fas toggle-password" [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="togglePassword()"></span>
                      <div class="text-danger">
                        @if(isRequiredError('password')){
                        <span i18n="@@passwordRequired">Password is required</span>
                        }
                      </div>
                    </div>
                  </div>
                   <div class="form-login authentication-check">
                       <div class="row">
                           <div class="col-12 d-flex align-items-center justify-content-between">
                               <div class="custom-control custom-checkbox custom-class-check">
                                   <label class="checkboxs ps-4 mb-0 pb-0 line-height-1">
                                       <input type="checkbox" class="form-control" formControlName="remember">
                                       <span class="checkmarks"></span> <ng-container  i18n="@@rememberMeLabel"> Remember me</ng-container>
                                   </label>
                               </div>
                               <div class="text-end">
                                   <a class="forgot-link" [routerLink] = "routes.forgotPassword" i18n="@@forgotPasswordLabel" >Forgot Password?</a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="form-login">

                    <button type="submit" class="btn btn-login w-100" [disabled]="loginForm.pending">
                      <span *ngIf="!loginForm.pending"i18n="@@loginLabel">Sign In</span>
                      <span *ngIf="loginForm.pending" class="spinner-border spinner-border-sm"></span>
                    </button>                   </div>
                   <div class="signinform">
                       <h4><ng-container i8n="@@newOnPlatforLabel">New on our platform?</ng-container><a [routerLink] = "routes.register" class="hover-a" i18n="@@registerLabel"> Create an account</a></h4>
                   </div>
                   <div class="form-setlogin or-text">
                       <h4>OR</h4>
                   </div>
                   <div class="form-sociallink">
                       <ul class="d-flex">
                           <li>
                               <a href="javascript:void(0);" class="facebook-logo">
                                   <img src="assets/img/icons/facebook-logo.svg" alt="Facebook">
                               </a>
                           </li>
                           <li>
                               <a href="javascript:void(0);">
                                   <img src="assets/img/icons/google.png" alt="Google">
                               </a>
                           </li>
                           <li>
                               <a href="javascript:void(0);" class="apple-logo">
                                   <img src="assets/img/icons/apple-logo.svg" alt="Apple">
                               </a>
                           </li>

                       </ul>
                       <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                           <p i18n="@@copyrightLabel">Copyright &copy; {{currentYear}} FuturaCom. All rights reserved</p>
                       </div>
                   </div>
               </div>
            </form>
        </div>
    </div>
</div>
