<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <p-toast></p-toast>

      <h4>{{ 'units.title' | translate }}</h4>
      <h6>{{ 'units.subtitle' | translate }}</h6>
    </div>
  </div>
  <ul class="table-top-head">
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'units.pdfTooltip' | translate }}"><img
          src="assets/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'units.excelTooltip' | translate }}"><img
          src="assets/img/icons/excel.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'units.printTooltip' | translate }}"><i
          class="feather icon-printer feather-rotate-ccw"></i></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" href="javascript:void(0);" (click)="loaadUnits()" data-bs-placement="top"
        title="{{ 'units.refreshTooltip' | translate }}"><i class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
    </li>
    <li>
      <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top"
        title="{{ 'units.collapseTooltip' | translate }}" id="collapse-header" matTooltip="Collapse"> @if (!isCollapsed)
        {
        <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
        <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
    </li>
  </ul>
  <div class="page-btn">
    <a href="javascript:void(0);" (click)="addNewUnit()" class="btn btn-added" data-bs-toggle="modal"
      data-bs-target="#add-units"><i class="feather icon-plus-circle me-2"></i>{{ 'units.addNewUnitButton' | translate
      }}</a>
  </div>
</div>
<!-- /product list -->
<div class="card table-list-card">
  <div class="card-body">
    <div class="table-top">
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
          <div class="dataTables_filter">
            <label>
              <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                placeholder="Search..." />
            </label>
          </div>
        </div>
      </div>
      <div class="search-path">
        <a class="btn btn-filter" id="filter_search" (click)="openFilter()" [ngClass]="{'setclose': filter === true}">
          <i class="feather icon-filter filter-icon"></i>
          <span><img src="assets/img/icons/closes.svg" alt="img"></span>
        </a>
      </div>
      <div class="form-sort">
        <i class="feather icon-sliders info-img"></i>
        <i class="feather icon-sliders info-img"></i>
        <mat-select [(ngModel)]="selectedValue3" [ngModelOptions]="{ standalone: true }" class="select space-select"
          placeholder="{{ 'units.sortByDate' | translate }}">
          @for (data of selectedList3; track data) {
          <mat-option [value]="data.value">
            {{ data.value }}
          </mat-option>
          }
        </mat-select>
      </div>
    </div>
    <!-- /Filter -->
    <div class="card" id="filter_inputs" [ngClass]="{'d-block': filter, 'd-none': !filter}">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <i class="feather icon-zap info-img"></i>

              <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="space-select select"
                placeholder="{{ 'units.chooseBrand' | translate }}">
                @for (data of selectedList2; track data) {
                <mat-option [value]="data.value">
                  {{data.value}}
                </mat-option>
                }
              </mat-select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <i class="feather icon-calendar info-img"></i>
              <div class="input-groupicon date-input2">
                <input type="text" class="datetimepicker" bsDatepicker
                  placeholder="{{ 'units.chooseDate' | translate }}" container=".date-input2">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <i class="feather icon-stop-circle info-img"></i>

              <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="space-select select"
                placeholder="{{ 'units.chooseStatus' | translate }}">
                @for (data of selectedList1; track data) {
                <mat-option [value]="data.value">
                  {{data.value}}
                </mat-option>
                }
              </mat-select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12 ms-auto">
            <div class="input-blocks">
              <a class="btn btn-filters ms-auto"> <i class="feather icon-search feather-search"></i> {{
                'units.searchButton' | translate }} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter -->
    <div class="table-responsive">
      <table class="table  datanew" (matSortChange)="sortData($event)" matSort matSortActive="Sno"
        matSortDirection="asc" matSortDisableClear>
        <thead>
          <tr>
            <th class="no-sort">
              <label class="checkboxs" (click)="selectAll(initChecked)">
                <input type="checkbox" id="select-all" [(ngModel)]="initChecked" />
                <span class="checkmarks"></span>
              </label>
            </th>
            <th mat-sort-header="unit">{{ 'units.tableHeaders.unit' | translate }}</th>
            <th mat-sort-header="shortname">{{ 'units.tableHeaders.shortName' | translate }}</th>
            <th mat-sort-header="product">{{ 'units.tableHeaders.noOfProducts' | translate }}</th>
            <th mat-sort-header="created">{{ 'units.tableHeaders.createdOn' | translate }}</th>
            <th mat-sort-header="status">{{ 'units.tableHeaders.status' | translate }}</th>
            <th class="no-sort">{{ 'units.tableHeaders.action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (data of units.items(); track data.id) {
          <tr>
            <td>
              <label class="checkboxs">
                <input type="checkbox" [(ngModel)]="data.is_selected" />
                <span class="checkmarks"></span>
              </label>
            </td>
            <td>{{data.name}} </td>
            <td>{{data.short_name}}</td>
            <td>{{data.num_of_product}}</td>
            <td>{{data.created_at | date}}</td>
            <td>
              <span *ngIf="data.status === 'Active'" class="badge badge-linesuccess">{{ 'units.statuses.active' |
                translate }}</span>
              <span *ngIf="data.status === 'Inactive'" class="badge badge-linedanger">{{ 'units.statuses.inactive' |
                translate }}</span>
            </td>
            <td class="action-table-data">
              <div class="edit-delete-action">
                <a class="me-2 p-2" href="javascript:void(0);" (click)="editUnit(data)" data-bs-toggle="modal"
                  data-bs-toggle="modal" data-bs-target="#add-units">
                  <i class="feather icon-edit feather-edit"></i>
                </a>
                <a class="confirm-text p-2" href="javascript:void(0);" (click)=confirmColor()>
                  <i class="feather icon-trash-2 feather-trash-2"></i>
                </a>
              </div>
            </td>
          </tr>
          }

        </tbody>
      </table>

    </div>
    <app-custom-pagination></app-custom-pagination>
  </div>
</div>
<!-- /product list -->

<app-unit-form (showSaveFailMsg)="showSaveFailMsg()" (showSavedSucessMsg)="showSavedSucessMsg()">
</app-unit-form>