<div class="modal fade" id="add-brands">
  <div class="modal-dialog modal-dialog-centered custom-modal-two">
    <div class="modal-content">
      <div class="page-wrapper-new p-0">
        <div class="content">
          <div class="modal-header border-0 custom-modal-header">
            <div class="page-title">
              <p-toast></p-toast>
              <h4 class="modal-title">{{ brands.editItem() ? ('brandForm.editTitle' | translate) :
                ('brandForm.createTitle'
                | translate) }}</h4>
            </div>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body custom-modal-body new-employee-field">
            <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label class="form-label">{{ 'brandForm.nameLabel' | translate }}</label>
                <input type="text" class="form-control" formControlName="name" [class.is-invalid]="invalid('name')"
                  [class.is-valid]="valid('name')">
                <!-- client side -->
                <div *ngIf="isRequiredError('name')" class="invalid-feedback">
                  {{ 'brandForm.nameRequired' | translate }}
                </div>
                <!-- server side -->
                <div *ngIf="f.name?.errors?.['server']" class="invalid-feedback">
                  {{ f.name.errors!['server'] }}
                </div>
              </div>
              <label class="form-label">Logo</label>
              <div class="profile-pic-upload mb-3">
                <!-- preview -->
                <img *ngIf="!showPlaceholder" id="brand-image-preview" class="profile-pic brand-pic rounded border"
                  alt="Logo preview" [src]="previewUrl" />
                  <div *ngIf="showPlaceholder" class="profile-pic brand-pic">
                    <span><i class="feather icon-plus-circle plus-down-add"></i> Add Image</span>
                  </div>
                <div class="image-upload mb-0">
                  <input type="file" (change)="onFileSelected($event)"
                    accept="image/jpeg,image/png,image/gif,image/svg+xml" />
                  <div class="image-uploads">
                    <h4>Change Image</h4>
                  </div>
                </div>
              </div>
              <div class="mb-0">
                <div class="status-toggle modal-status d-flex justify-content-between align-items-center">
                  <span class="status-label">{{ 'brandForm.statusLabel' | translate }}</span>
                  <input type="checkbox" id="user2" class="check" checked="" formControlName="status">
                  <label for="user2" class="checktoggle"></label>
                </div>
              </div>
              <div class="modal-footer-btn">
                <button type="button" class="btn btn-cancel me-2" data-bs-dismiss="modal">{{ 'brandForm.cancelButton' |
                  translate }}</button>
                <button type="submit" class="btn btn-submit" [disabled]="brandForm.pending">
                  <span *ngIf="!brandForm.pending"> {{ brands.editItem() ? ('brandForm.saveChangesButton' | translate) :
                    ('brandForm.createButton' | translate) }}</span>
                  <span *ngIf="brandForm.pending" class="spinner-border spinner-border-sm"></span>
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>